@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<p>@DateTime.Now</p>
@if (DateTime.Today.DayOfWeek == DayOfWeek.Monday)
{
    <strong>Wish you have a good day! </strong>
    var toDay = DateTime.Today;
    if (DateTime.Today.Day == 1)
    {
        <i>Today are the first day in the month</i>
    }
}
else if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
{
    <i>Today are the final week</i>
    <strong>Wish you a good final week! </strong>
}
else
{ <strong>Good day!</strong>}

@switch (DateTime.Today.DayOfWeek)
{
    case DayOfWeek.Monday:
        var toDay = DateTime.Today.Day;
        if (toDay == 1)
        {
            <i>Today are the first day in the month</i>

        }
        <strong>Wish you have a good day! </strong>
        break;
    case DayOfWeek.Friday:
        <i>Today are the final week</i>
        <strong>Wish you a good final week! </strong>
        break;
    default:
        <strong>Good day!</strong>
        break;
}
@{var contries = new[] { "Vietname", "Japan", "China", "India", "USA" };}
<ol>
    @for (var i = 0; i < contries.Length; i++)
    {
        if (contries[i] == "Vietname" || contries[i] == "China")
        {
         <li>@contries[i] (bla bla...) </li>
        }
        else
        { <li>@contries[i]</li>}
    }
</ol>
<br>
<p>forech command</p>
<ol>
    @foreach (var item in contries)
    {
        if (item == "Vietname" || item == "China")
        {
         <li>@item (bla bla...) </li>
        }
        else
        {
            <li>@item</li>
        }
    }
</ol>
<p>while command</p>
<ol>
    @{var a = 0; }
    @while (a < contries.Length) {
        var contry = contries[a++];
        if (contry == "Vietname" || contry == "China")
        {
            <li>@contry (bla bla...)</li>
        }
        else { 
            <li>@contry</li>
        }
    }
</ol>
<p>do-while command</p>
<ol>
    @try
    {
        do
        {

            var contry = contries[a++];
            if (contry == "Vietname" || contry == "China")
            {
            <li>@contry (bla bla...)</li>
            }
            else
            {
            <li>@contry</li>
            }
        } while (a < contries.Length);
    }
    catch (Exception ex){<li>@ex.Message</li> }
    finally
    {
        <li>Debug End!</li>
    }
</ol>
<form method="post">
    <button class="btn btn-block btn-primary center-block">Submit</button>
</form>